body{
    box-sizing: border-box;
  }
   
  *, button, input {
    font-family: 'Roboto', sans-serif;
   
  }

  
  
  .Gicone{
    width: 23px;
    height: 23px;
  }

  .botaoHoverAmarelo:hover{
	border-color: #FDC921;
    color: #FDC921;
}

.bordaHoverAmarelo:hover{
	border-color: #FDC921;
}